/*********************
    General Styles
*********************/

/* Colors and Fonts */

:root {
    --clr-bkgd: #2f2f2f;
    --clr-bkgd-light: #DDDDDD;
    --clr-primary: #5124C9;
    --clr-primary-light: #7B8FFC;
    --clr-primary-grad: linear-gradient(to right, #7B8FFC, #6943CF);
    --clr-primary-grad2: linear-gradient(to right, #7B8FFC, #5124C9);
    --clr-accent: #2AC424;
    --clr-accent-grad: linear-gradient(to right, #b6fd31, #087a04);

    --ff-logo: 'Maven Pro', sans-serif;
    --ff-text: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body, div, h1, h2, h3, p, a, img,
i, ol, ul, li, label, table, caption,
footer, header, nav, section {
    margin: 0; padding: 0;
}



html {
    box-sizing: border-box;
    font-family: var(--ff-text);
    color: #fff;
    font-size: 20px;
}

body {
    background: var(--clr-bkgd);
    height: 100vh;
}

img {
    display: block;
}


/*****************
    Typography  
*****************/

h2 {
    font-family: var(--ff-text);
    font-weight: 800;
    color: var(--clr-primary);
    line-height: 0.8;
}

p {
    font-weight: 500;
}

/* main styles */
.interface {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.arena {
    height: 75vh;
    position: relative;
}

h1 {
    font-size: 3.5rem;
    color: var(--clr-accent);
}

.card__wrapper {
    height: 440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: lightcoral;
}

.cards {
    width: 100%;
    display: flex;
    animation: all .3s ease-in;
    align-content: center;
}

.card ~ .card {
    margin: 0rem 0rem 0rem 1rem;
}

.card {
    position: relative;
    width: 315px;
    height: 440px;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.45);
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.card__content {
    top: 0px;
    font-family: var(--ff-logo);
    position: absolute;
    width: 315px;
    height: 440px;
    display: flex;
    flex-direction: column;
}
.card__name {
    font-family: var(--ff-logo);
    margin: 0.9rem auto auto;
}
.card__type {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-bkgd);
    margin: auto auto -4.9rem;
}
.card__text {
    width: 80%;
    height: 27%;
    margin: auto auto 1.6rem;
    display: flex;
    flex-direction: column;
}
.card__text p {
    font-size: 1rem;
    margin: auto 0rem;
}
