/*=======================
----TABLE OF CONTENTS----
1.  General Styles
    a.  Colors and Fonts
2.  Typography
3.  Layout
4.  Media Queries
========================*/

/*********************
    General Styles
*********************/

/* Colors and Fonts */

:root {
    --clr-bkgd: #2f2f2f;
    --clr-bkgd-light: #DDDDDD;
    --clr-primary: #5124C9;
    --clr-primary-light: #7B8FFC;
    --clr-primary-grad: linear-gradient(to right, #7B8FFC, #6943CF);
    --clr-primary-grad2: linear-gradient(to right, #7B8FFC, #5124C9);
    --clr-accent: #2AC424;

    --ff-logo: 'Maven Pro', sans-serif;
    --ff-text: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body, div, h1, h2, h3, p, a, img,
i, ol, ul, li, label, table, caption,
footer, header, nav, section {
    margin: 0; padding: 0;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-text);
    color: #fff;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
}

body {
    background: var(--clr-bkgd);
    height: 100%;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin: 2rem auto 1rem;
    text-align: center;
}

h2 {
    font-family: var(--ff-text);
    font-weight: 600;
    font-size: 3.5rem;
    color: var(--clr-accent);
}

p {
    max-width: 35ch;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem auto;
}

.list-nav {
    margin: 2rem auto auto;
    max-width: 33rem;
    background: var(--clr-bkgd);
    text-align: center;
    border-radius: 1rem;
    border: 0.5rem solid #2f2f2f;
    box-shadow: 
    0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.2), 
    -0.25rem -0.25rem 0.4rem rgba(255, 255, 255, 0.062),
    inset 0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.3), 
    inset -0.25rem -0.25rem 0.4rem rgba(255, 255, 255, 0.05);
}

.list {
    list-style: none;
}

.list-entries {
    padding: 0.75rem;
    border-bottom: 0.35rem solid #2f2f2f;
    box-shadow: inset 0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.3), 
    inset -0.25rem -0.25rem 0.4rem rgba(255, 255, 255, 0.05);
    
}

.list-entries:first-child {
    border-radius: 0.6rem 0.6rem 0rem 0rem;
}
.list-entries:last-child {
    border-radius: 0rem 0rem 0.6rem 0.6rem;
    border-bottom: 0px;
}

.list-entries a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--clr-accent);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 0;
}
.fa {
    color: var(--clr-accent);
    font-weight: 500;
    font-size: 1.8rem;
    transform: translateY(2.5px);
    line-height: 0;
}

/* .entry-content {
    background-color: var(--clr-primary-light);
    padding: 0.5rem;
    box-shadow:
    inset -0.15rem -0.15rem 0.3rem rgba(16, 7, 27, 0.3), 
    inset 0.1rem 0.1rem 0.3rem rgb(217, 189, 255, 0.8);
}
.list-entries:first-child > .entry-content{
    border-radius: 0.25rem 0.25rem 0.1rem 0.1rem;
}
.list-entries:last-child > .entry-content{
    border-radius: 0.1rem 0.1rem 0.25rem 0.25rem;
} */

@media only screen and (max-width: 1000px) {
    h2 {
        font-size: 4vh;
    }
    p {
        font-size: 0.8rem;
        max-width: 50ch;
        padding: 0rem 1rem;
    }
    .list-nav {
        width: min(90vw, 33rem);
        margin-top: 1rem;
    }
    .list-entries a {
        font-size: 1rem;
    }
    .list-entries .fa {
        font-size: 1.5rem;
    }

    .nav li.news-updates {
        background: #171525;
        border-radius: .25em .25em 0em 0em;
    }
}