body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  section {
    height: 100%;
  }
  
  .bg-image {
    width: 100%;
    height: 1320px;
    background: url("../img/higgsboson.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+1,1+10,0+100 */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(1%, black), color-stop(10%, black), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, black 0%, black 1%, black 10%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */
  }
  
  .container {
    width: 85%;
    height: 700px;
    position: relative;
    margin: 0 auto;
  }
  
  .header {
    width: 100%;
    padding: 20px;
  }
  
  .logo > a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
    font-size: 35px;
    position: absolute;
    padding: 20px;
  }

  nav {
      text-align: center;
      padding: 20px;
  }
  
  nav > ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 20px;
  }
  
  nav > ul > li {
    list-style: none;
    float: left;
    width: auto;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
  }

  nav > ul > li:hover {
      background: #171525;
      border-radius: 5px 5px 0px 0px;
  }
  
  nav > ul > li > a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px 0 20px;
  }
  
  ul.drop-menu {
    position: relative;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 0;
  }
  
  ul.drop-menu li {
    background:#474555;
  }
  
  ul.drop-menu li:hover {
    background: #777085;
  }
  
  ul.drop-menu li:last-child {
    border-radius: 0px 0px 5px 5px;
  }

  ul.drop-menu li {
    display: none;
  }

  li:hover > ul.drop-menu li {
    display: block;
  }

  li:hover > ul.drop-menu.menu-1 {
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  li:hover > ul.drop-menu.menu-1 li {
    opacity: 0;
  }
  li:hover > ul.drop-menu.menu-1 li:nth-child(1) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-delay: -150ms;
            animation-delay: -150ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  li:hover > ul.drop-menu.menu-1 li:nth-child(2) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-delay: 0ms;
            animation-delay: 0ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  li:hover > ul.drop-menu.menu-1 li:nth-child(3) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  li:hover > ul.drop-menu.menu-1 li:nth-child(4) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  li:hover > ul.drop-menu.menu-1 li:nth-child(5) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-delay: 450ms;
            animation-delay: 450ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  li:hover > ul.drop-menu.menu-1 li:nth-child(6) {
    -webkit-animation-name: menu1;
            animation-name: menu1;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes menu1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.3) translateY(-60px);
              transform: scale(0.3) translateY(-60px);
    }
    80% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1) translateY(0px);
              transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }
  @keyframes menu1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.3) translateY(-60px);
              transform: scale(0.3) translateY(-60px);
    }
    80% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1) translateY(0px);
              transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }

  ul.drop-menu li > a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
  }
  
  .main-btns {
    width: 70%;
    height: 300px;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 30%;
    right: 0;
    bottom: auto;
    left: 0;
  }
  
  .btn-gs {
    width: 45%;
    height: 120px;
    background-color: #6a21e0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin: 1%;
  }
  
  .btn-lm {
    width: 45%;
    height: 120px;
    background-color: #5f0ae7;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin: 1%;
  }
  
  .btn-li {
    width: 93%;
    height: 80px;
    background-color: #5f0ae7;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin: 1%;
  }
