/*=======================
----TABLE OF CONTENTS----
1.  General Styles
    a.  Colors and Fonts
2.  Typography
3.  Navigation
    a.  Invisible Menu Toggle (checkbox)
    b.  Visible Burger Button
    c.  Navigation Menu
4.  Homepage Styles
    a. Cards
    b. Action Area
        i. buttons
5.
========================*/

/*********************
    General Styles
*********************/

/* Colors and Fonts */

:root {
    --clr-bkgd: #2f2f2f;
    --clr-bkgd-light: #DDDDDD;
    --clr-primary: #5124C9;
    --clr-primary-light: #7B8FFC;
    --clr-primary-grad: linear-gradient(to right, #7B8FFC, #6943CF);
    --clr-accent: #2AC424;

    --ff-logo: 'Maven Pro', sans-serif;
    --ff-text: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body, div, h1, h2, h3, p, a, img,
i, ol, ul, li, label, table, caption,
footer, header, nav, section {
    margin: 0; padding: 0;
}

html, body {
    height: 100vh;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-text);
    color: #fff;
    font-size: 20px;
}

body {
    background: var(--clr-bkgd);
}

.site-container {
    height: 100%;
}

img {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

/*****************
    Typography  
*****************/

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: var(--ff-logo);
    font-weight: 700;
    font-size: 1.6rem;
}

h2 {
    font-family: var(--ff-text);
    font-weight: 800;
    color: var(--clr-primary);
    line-height: 0.8;
}

p {
    font-weight: 500;
}

/*****************
    Navigation  
******************/

/* Invisible Menu Toggle (checkbox) */

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle__icon {
    outline: 3px solid rgba(lightblue, .75);
}

/* Visible Burger Button */

.nav-toggle__icon {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: block;
    cursor: pointer;
    z-index: 333;
}

.nav-toggle__icon:hover .icon__open::before,
.nav-toggle__icon:hover .icon__close::before {
    width: 100%;
}

.icon__open {
    display: block;
    width: 100%;
    height: 3.5px;
    background-image: var(--clr-primary-grad);
    margin-bottom: 4px;
    transform: rotate(-45deg);
    position: relative;
}

.icon__open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.icon__open.open--top {
    width: 65%;
    margin-left: -3%;
}

.icon__open.open--middle::before {
    left: auto;
    right: 0;
}

.icon__open.open--bottom {
    width: 65%;
    margin-left: 40%;
}

.icon__close {
    display: block;
    width: 100%;
    height: 3.5px;
    background-color: var(--clr-accent);
    position: relative;
}

.icon__close::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.close--left {
    transform: translateX(100px) translateY(-100px) rotate(-45deg);
}

.close--right {
    transform: translateX(-100px) translateY(-100px) rotate(45deg);
    top: -3px;
}

/* Navigation Menu */

.nav-container, .nav-menu {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-container {
    z-index: 20;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav {
    display: block;
    width: 100%;
    padding: 20%;
}

.nav li {
    text-align: right;
    display: block;
    padding: 1rem 0rem;
}

.nav-menu a {
    display: inline-block;
    padding: 0.5em 0em;
    font-size: 0.9em;
    color: var(--clr-bkgd);
    position: relative;
}

.nav-menu a:hover::before,
.nav-menu a:focus::before {
    opacity: 1;
    transform: translateX(0px);
}

.nav-menu a::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1rem;
    height: 3px;
    opacity: 0;
    background-color: var(--clr-bkgd);
    transform: translateX(100px);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.nav-menu__bkgd {
    visibility: hidden;
    position: absolute;
    display: block;
    width: 255%;
    left: -53%;
    top: -25%;
    height: 44%;
    background-color: var(--clr-bkgd-light);
    
}

.bkgd--top {
    left: -60%;
    top: 0;
    transform: rotate(-45deg) translateY(-150%);
}

.bkgd--middle {
    top: 29%;
    left: -53%;
    transform: rotate(-45deg) scaleY(0);
}

.bkgd--bottom {
    top: 105%;
    transform: rotate(-45deg) translateY(25%);
    left: -20%;
}


/*********************
    Homepage Styles  
**********************/

header {
    margin: 0.5rem;
}

.logo a {
    margin-left: .5rem;
}

main {
    overflow: hidden;
    display: grid;
    grid-template-areas: "cards"
                        "action";
    grid-template-rows: 1fr 1fr;
}

.featured-cards {
    grid-area: cards;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    animation: all .3s ease-in;
    padding-bottom: 1rem;
}

/* Cards */

.card__wrapper {
    display: flex;
    padding: 1rem;
}

.card ~ .card {
    margin: 0rem 0rem 0rem 1rem;
}

.card {
    width: 250px;
    height: 350px;
    border: 0.4em;
    border-color: var(--clr-primary);
    border-style: solid;
	background: var(--clr-bkgd-light);
	border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.45);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card__text {
    width: 80%;
    height: 35%;
	background: #fff;
	border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,.3);
    margin: auto auto 1rem;
}

.card h2 {
    padding-top: 0.5rem;
    font-size: 1.25em;
}

.card__text p {
    color: var(--clr-bkgd);
    font-size: .75em;
    padding: 0.5rem 0.35rem;
}

/* Action Area */

.action {
    grid-area: action;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0em 1em 1em;
}

.action p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1em;
}

/* buttons */

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.btn {
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: 1em 3em;
    border-radius: 3em;
    background-image: var(--clr-primary-grad);
    align-content: center;
    display: block;
    margin: 0.5em 0;
    box-shadow: 0rem 1rem 1rem 0 rgba(0,0,0,.3);
}


